
body {
   background-color: #374252;
   color: white;
   font-family: "Questrial", sans-serif;
   position: relative;
 }

 a {
   text-decoration: none;
   color: white;
   font-size: 20px;
 }

 .logo {
   height: 10%;
   width: 10%;
   border-radius: 50%;
   display: inline;
   margin: 2%;
 }

 header {
   position: relative;
   width: 100%;
 }

 header h1 {
   /*font-family: "Futura", sans-serif;*/
   font-family: "Questrial", sans-serif;
   font-size: 30px;
   display: inline;
   position: absolute;
   top: 40%;
   left: 15%;
 }

 nav ul {
   display: none;
 }

 main{
   width: 300px;
 }

 .gallery {
   display: block;
   margin: 0 auto;
   padding: 10%;
 }

 #last {
   margin-bottom: 10%;
 }

 footer {
   position: fixed;
   width: 100%;
   height: 5%;
   bottom: 0;
   background-color: #000000;
   clear: both;
 }

 @media only screen and (min-width: 750px){
   nav ul {
     display: inline;
     position: absolute;
     top: 40%;
     right: 5%;
   }
   nav ul li {
     font-family: "Questrial", sans-serif;
     display: inline;
     float: right;
     padding: 10px;
   }
 }
