.site-header {
    background: #FF0000;
 +  position: relative;
  }

  .icon-menu {

     float: right;
     font-size: 30px;
     margin: 30px;
  }

  .main-nav {

 @media only screen and (min-width: 750px) {
   .icon-menu {
     display: inline;
     position: absolute;
     top: 40%;
     right: 5%;
   }
   .main-nav ul {
     display: inline;
     padding: 15px;
     float: right;
     padding: 10px;
     /*margin: 0 auto;
     position: absolute;
     top: 20%;
     left: 60%;*/
   }
   .main-nav ul li {
     display: inline;
     font-size: 18px;
   }

   .main-nav:hover ul {
     display: inline;
   }
 }
